h1 {
		font-size: 50px;
		font-style: bold;
		font: "Times New Roman";
		color: #D4AF37
	}
	body {
	background-color: #e6e6ff
	}
	.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	}
	.left {
		width: 50%;
		float: left;
	}
	.right {
		width: 50%;
		float: right;
	}
img{
	/*padding-top: 70px;*/
	/*/padding-left: 70px;*/*/
}
	.small {
		font-size: 20px;
	}
	.header {
		height: 60%;
	}
	.content  {
		height: 80%;
		border-top: 2px solid #D4AF37; 
	}
	.footer  {
		height: 70%;
		border-top: 2px solid #D4AF37;  
	}
	